body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    font-weight: 400;
    color: #ffffff;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    word-break: break-all;
}

header {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

header > h1 {
    width: 176px;
    height: 43px;
    text-align: center;
    font-size: 37px;
    color: #ffffff;
}

.white {
    color: #ffffff;
}

.box {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

/* Tela 1*/

.conteiner {
    width: 1050px;
    height: auto;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quizz-create {
    width: 100%;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
}

.quizz-create > p {
    width: 250px;
    height: 107px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #b9b9b9;
}

.quizz-create > button {
    width: 150px;
    height: 40px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 21px;
    color: #ec362d;
}

.div-tittle {
    width: 340px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add-quizz {
    width: 31px;
    height: 31px;
    margin-left: 17px;
    color: #ec362d;
    cursor: pointer;
}

.all-quizzes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 48px;
}

.all-quizzes h1 {
    width: 158px;
    height: 23px;
    font-size: 20px;
    color: #000000;
}

.quizzes,
.quizzes-user {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.quizzes :nth-child(3n) {
    margin-right: 0px;
}

.quizz {
    width: 340px;
    height: 181px;
    margin-top: 12px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5),
        #000000
    );
    position: relative;
    cursor: pointer;
}

.quizz > img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    object-fit: cover;
    z-index: -1;
}

.quizz > p {
    width: 300px;
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
    overflow-wrap: break-word;
    text-align: center;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.quizz-finalizar {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    width: 723px;
    padding: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 57px;
}

.quizz-finalizar-titulo {
    background-color: #ec362d;
    width: 100%;
    height: 99px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-nivel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.quizz-nivel img {
    width: 364px;
    height: 273px;
}

.quizz-nivel p {
    width: 50%;
    height: 250px;
    font-size: 19px;
    font-weight: 700;
    margin-left: 25px;
    word-break: break-all;
}

.quizz-reiniciar {
    width: 260px;
    height: 52px;
    border-radius: 15px;
    background-color: #ec362d;
    font-size: 21px;
    color: #fff5f4;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.quizz-voltar {
    width: 260px;
    height: 52px;
    border-radius: 15px;
    font-size: 21px;
    color: #818181;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
    cursor: pointer;
}

/*fim da tela 1*/

/*tela 2 1*/

.topo {
    width: 100%;
    background-image: url(images/potterhead.png);
    height: 227px;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.topo h2 {
    position: absolute;
    z-index: 1;
    word-break: break-all;
    text-align: center;
}

.topo img {
    display: flex;
    width: 100%;
    filter: brightness(40%);
}
.quizz-page {
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz-topo {
    width: 100%;
    margin-bottom: 42px;
}

.quizz-perguntas {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    width: 687px;
    height: auto;
    padding: 36px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quizz-pergunta-titulo {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizz-respostas {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 82%;
}

.quizz-resposta {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    word-break: break-all;
}

.quizz-pergunta-resposta {
    width: 49%;
    height: 52%;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

.quizz-pergunta-resposta img {
    width: 100%;
    height: 175px;
    margin-bottom: 15px;
}

.respondido .true {
    color: #009c22;
}

.opacidade {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.respondido .false {
    color: #ec362d;
}

/*fim da tela 2*/

/* Tela 3*/

.quizz-creator {
    width: 100%;
    height: 100%;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-page h1 {
    width: auto;
    height: 27px;
    font-size: 23px;
    color: #000000;
    margin-bottom: 27px;
}

.creator-data {
    width: 600px;
    height: 256px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator-data > h1 {
    width: 566px;
    text-align: start;
    padding-top: 25px;
    margin-bottom: 12px;
}

.creator-page input {
    width: 564px;
    height: 46px;
    color: #bababa;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.botao-prosseguir {
    width: 368px;
    height: 54px;
    color: #fff5f4;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    border: none;
    border-radius: 15px;
    background-color: #ec362d;
    margin-top: 75px;
    margin-bottom: 50px;
}

.pergunta {
    width: 600px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-top: 27px;
    padding-left: 17px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.pergunta h1 {
    margin-bottom: 14px;
}

.pergunta input:nth-child(3n) {
    margin-bottom: 28px;
}

.fechado {
    width: 601px;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}

.fechado > h1 {
    margin-bottom: 0px;
    padding-left: 17px;
}

.fechado > ion-icon {
    width: 26px;
    height: 23px;
    padding-right: 20px;
}

.creator-data.nivel {
    height: 320px;
    margin-bottom: 24px;
}

.p4 .botao-prosseguir {
    width: 220px;
    height: 44px;
    color: #fff5f4;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    border: none;
    border-radius: 15px;
    background-color: #ec362d;
    margin-top: 75px;
    margin-bottom: 9px;
}

.botao-home {
    width: 220px;
    height: 44px;
    color: #818181;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    border: none;
    background: none;
    margin-bottom: 50px;
}

/* Fim da tela 3 */

.hidden {
    display: none;
}

@media (max-width: 1100px) {
    /*tela 1*/
    .conteiner {
        width: 94%;
        min-width: 340px;
        padding-top: 105px;
    }

    .quizz-create {
        margin-bottom: 33px;
    }

    .div-tittle {
        justify-content: space-between;
    }

    .quizzes :nth-child(3n) {
        margin-right: 15px;
    }
    /*fim tela 1*/
    /*tela 2*/
    h3,
    h2 {
        font-size: 19px;
        
    }

    .topo {
        height: 142px;
        box-sizing: border-box;
    }

    .quizz-topo {
        margin-bottom: 24px;
    }

    .quizz-perguntas {
        box-sizing: border-box;
        width: 339px;
        height: auto;
        padding: 20px;
        margin-bottom: 28px;
    }

    .quizz-pergunta-titulo {
        height: 89px;
    }

    .quizz-resposta {
        font-size: 13px;
    }

    .quizz-pergunta-resposta img {
        width: 100%;
        height: 113px;
        margin-bottom: 5px;
    }

    .quizz-finalizar {
        box-sizing: border-box;
        width: 339px;
        margin-bottom: 34px;
    }

    .quizz-nivel {
        flex-direction: column;
    }

    .quizz-nivel img {
        width: 100%;
    }

    .quizz-nivel p {
        width: 100%;
        height: auto;
        font-size: 17px;
        margin: 15px 0;
    }

    /*tela 3*/
    .quizz-creator {
        padding-top: 110px;
    }
    /*fim tela 3*/
}

@media (max-width: 600px) {
    /*tela 3*/
    .creator-data {
        width: 100%;
    }

    .creator-data > h1 {
        width: 94%;
    }

    .botao-prosseguir {
        margin-top: 24px;
    }

    .p4 .botao-prosseguir {
        margin-top: 24px;
    }

    .creator-page input {
        width: 94%;
    }

    .pergunta {
        width: 100%;
    }

    .fechado {
        width: 100%;
    }
    /*fim tela 3*/
}
